
*{
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.header {
}

.root {
  padding: 10px;
  margin: 10px;
}

.contentor-principal {
}

.main-carrosel {
}

.carousel-item img {
  height: 700px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.carousel-principal {
}

.texto-categoria {
}

.categorias {
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5em;
  overflow: hidden;
}

.cat {
  width: 200px;
  height: 45px;
  border: dotted rgb(0, 0, 0);
  flex: 1 1 auto;
}

.secondary-carousel {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: safe;
  align-content: center;
  align-items: center;

  overflow: hidden;
}

.secondary-carousel-l {
  width: 50%;
  
  border: dotted rgb(0, 0, 0);
}

.secondary-carousel img {
  height: 300px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.produtos-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
  row-gap: 20px;
  column-gap: 20px;
}

.produto {
  border: dotted rgb(0, 0, 0);
}
