* {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.header {
}

.root {
  padding: 10px;
  margin: 10px;
}

.contentor-principal {
}

.main-carrosel {
}

.carousel-item img {
  height: 700px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.carousel-principal {
}

.texto-categoria {
}

.categorias {
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5em;
  overflow: hidden;
}

.cat {
  width: 200px;
  height: 45px;
  border: dotted rgb(0, 0, 0);
  flex: 1 1 auto;
}

.secondary-carousel {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: 5px 2px 2px 5px rgba(0, 0, 0, 0.3);

  overflow: hidden;
}

.secondary-carousel-l {
  width: 50%;
}

.secondary-carousel img {
  height: 300px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.produtos-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 500px);
  row-gap: 20px;
  column-gap: 20px;
}

.produto {
  
  display: flex;
  flex-flow: column wrap;
  position: relative;

  border-radius: 10px;
  box-shadow: 5px 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.p-badge {
  width: 90px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgb(248, 10, 189);
  color: rgb(255, 255, 255);
  position: absolute;
}
.p-produ-imagem {
  height: 60%;
  width: 100%;
  object-fit: cover;
  align-self: flex-start;
}
